go 1.24.5

use (
	./products/backend/src/library/dxlib
	./products/backend/src/library/dxlib_module
	./products/backend/src/library/dxlib-system-common
	./products/backend/src/cmd/dxlib-system-tool-reset
    ./products/backend/src/cmd/dxlib-system-service-api-webadmin
    ./products/backend/src/cmd/dxlib-system-service-push-notification
    ./products/backend/src/cmd/dxlib-system-service-api-runner
)
